<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
               xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
첫 페이지입니다.
<!-- <div sec:authorize="isAuthenticated()" th:text="${member.name}"></div> -->
<div sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/sign-up}">회원가입</a></div>
<div sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">로그인</a></div>

<div sec:authorize="isAuthenticated()">
	<form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
		<button class="dropdown-item" type="submit">로그아웃</button>
	</form>
</div>
</body>
</html>